*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(0, 0, 0);
}
.container{
    max-width: 70%;
    margin: auto;
}
header{
    background-color: #ac0924;
    color: white;
    text-align: center;
    padding: 2%;
}
.title{
    font-size: 1.5rem;
}
.container{
    color:rgb(7, 7, 73);
    display: flex;
    flex-direction: column;
}
section{
    background-image: url('../imagem/grafico4.jpeg');
    background-size: contain;
    display: flex;
    justify-content: flex-end;

}
.call{
    width: 25%;
    padding: 2%;
    background-color: #ffffff5d;
}
.form {
    width: 100%;
}
h2{
    font-size: 1rem;
    margin-bottom: 5%;
}
p{
    font-size: 0.9rem;
    margin-bottom: 5%;
    text-align: justify;
}
input,select{
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-bottom: 4%;
    padding: 4%;
    border-radius: 5px;
}
input[type="submit"]{
    background-color:  #ac0924;
    color: white;
    font-weight: bold;
}
footer{
    width: 80%;
    margin: auto;
    padding: 1%;
}
.about{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2%;
}
.about img{
    width: 25%;
    padding: 5%;
}
.description{
    width: 40%;
}
h3{
    margin-top: 2%;
    margin-bottom: 3%;
}
.icon{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.822);
    padding: 1%;
    margin: auto;
    text-align: center;
}  
a{
    padding: 4%;
}

@media(max-width:768px){
    header{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }
    .container{
        max-width: 90%;
        margin-top: 4%;
    }  
    .title{
        font-size: 1.3rem;
        padding: 1%;
        line-height: 2rem;
    }
    section{
        background-size: cover;
        padding-bottom: 4%;
        padding-top: 4%;
    }
    .call{
        width: 90%;
        margin: auto;
    }
    h2{
        line-height: 1.5rem;
        padding:  6% 2.5%;
        text-align: center;
    }
    p{
       font-size: 1rem;
       padding: 5%;
       padding-top: 0;
       text-align: center;
       line-height: 1.4rem;
    }
    input,select{
        margin-bottom: 4.5%;
    }
    .about{
        flex-direction: column;
    }
    .about img{
        margin: auto;
        width: 40%;
        border-radius: 1rem;
    }
    .description{
        width: 100%;
    }
    .description p{
        text-align: justify;
        padding: .5%;
        line-height: 1.5rem;
    }
    h3{
        text-align: center;
    }
    .icon{
        width: 100%;
        padding-top: 4%;
        border-radius: 5px;
        background-color: rgba(235, 207, 207, 0.733);
    }
}

